body { 
    background-color: rgb(55, 60, 69);
    
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 30px 0;
}

.articleColumn{
    margin: 60px 0;
}

.articleImage {
    width: 70%
}

#wrapper {
    width: 940;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

textarea, input {
    display: block;
    width: 100%;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}
